{% extends 'tasks/base.html' %}

{% block title %}List{% endblock %}

{% block content %}
    <h2>Tasks</h2>

    <ul>
    {% for task in object_list %}
        <li>
            {{ task.title }}  <a href="{% url 'task-detail' task.id %}" >Detail</a>
        </li>

    {% endfor %}
    </ul>

{% endblock %}